/* Esta parte esta siendo trabajada por yohan */


/* tamaño de caja */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}
body{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.logo img{
    /* tamaños del las imagenes de el logo */
     height: 120px;
    width: 230px;
    margin-left:20px ;    
     cursor: pointer;  /*Presenta la manita cuando estes en el logo */ 

}
.nav-perfil{
    background-color:#193A6A;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-around;
    
}
.menu a{
    color: #fff;
    margin-right: 30px;

}
.menu,.logo-nav,a:hover{
    color: #ED9B51;
    cursor: pointer;
}
.nav-perfil h1{
    font-size: 27px;
    color: #fff;
}

.edit a:hover{
    /* a acercar el puntero a ediat cita muestra  */
    background:linear-gradient(#193A6A,#255bad) ;
   
}


/*Estilos de la parte superior citas agendadas  -----------------------------------------------------------------------------*/

 .menu-nav{
    background-color: #193A6A;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
} 

.menu-nav ul{
    display: flex;
    justify-content: space-around;
    
}
.menu-nav li{
    display: flex;
    margin: 10px;
    
}
.agendadas{
    color: #fff;
    font-size: 30px;

}
.Menu a:link{
    text-decoration: none;

}
.Menu a{
    color: #fff;
    font-size: 16px;
}
.Menu a:hover{
    color: #ED9B51;
}
/* Cuerpo de Citas agendadas --------------------------------------------------------------------------------*/

.agen a:link{
    color: #153564;
    text-decoration: none;
    font-weight: 600;
    
}
.agen {
    font-size: 27px;
    height: 50px;
    padding: 20px 0 20px 30px;
   
    
}

.con-tabla{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}


table{
    font-size: 20px;
    text-align: center;
    width: 90%;
    border-collapse: collapse;/*Fusionar los bordes  */

}
th{
    color: #fff;
}
th,td{
    padding: 20px;
}
thead{
    background-color: #193A6A;
}
tbody .gris{
    background-color: #D9D9D9;
}
.verde{
   color: #4AD818;
   font-weight: 900;
}
.roja{
    border-left: solid 2px #302e2e;
    padding-left: 6px;
   color:#FF0000 ;
   font-weight: 900;
}
.verde:hover{
     color: #3d911e;
}
.roja:hover{
    color:#a80a0a ;

}

/* Estilos de listado de mascotas y usurarios ------------------------------------------------------------------*/




 .a-hed {
  
    display: flex;
    justify-content: space-between;
    
} 
.botones-lis{
    display: flex;
    justify-content: space-around;
    align-items: end;
   
}

.botones-lis .icons img{
      width: 45px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.titulo-listas{
    background-color: #193A6A;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.galeria article {
    display: inline-block;
    margin-right: 50px;
    
}

.galeria article img {
    width: 250px; 
    height: auto; 
   
}

.galeria article img:hover {
    transform: scale(1.1);
}

.pie {
    text-align: center;
    color: #102544;
}

.tabla{
    margin-top: 90px;
}
/* pagina de codigo de verificacion--------------------------------------------------------------------------- */
.logos img{
     width: 250px;/* tamano del logo  */
    height: auto;
}
.head-recu{
    display: flex;
    flex-direction: column;
}

.head-recu h1{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #193A6A;
    color: #fff;
    
}
.main-recu{
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: center;
    align-content: center;
   
}
.conten-recu{
    border: solid 2px #000;
    display: flex;
    flex-direction: column;
   width: 55%;
    height: 370px;
    margin-top: 40px;
    border-radius: 30px;
}

.conten-alto {
   height: 25%;
    border-bottom: solid  #ED9B51;
}

.conten-alto p,h3{
    font-size: 22px;
    font-weight: 700;
    margin:20px 0 0 30px;
}
.conten-alto a{
    text-decoration: none;
}
.div-cod{
    height: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.div-cod input{
    width: 10%;
    height: 100% ;
    border-radius: 17%;
 

}
/* pagina del codigo de verificacion */
.nueva-con{
    display: flex;
    flex-direction: column;
    height: 100%;
 

}
.nueva-con .crea-con{
    display: flex;
    height: 80px;
    align-items: center;
     border-bottom: solid  #ED9B51;

}
.nueva-con .crea-con h3{
    font-size: 29px;
    

}
.con-contras{
    height: 200px;
     margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.con-contras label{
   
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}
.con-contras input{
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
     border-radius: 5px  5px  5px  5px;
    width: 25%;
}
.con-contras a{
    color: #fff;
    border-radius: 10px  10px  10px  10px;
    width: 20%;
    text-align: center;
    background-color: #193A6A;

    margin-top: 15px;
    font-size: 25px;
    text-decoration: none;
}
.con-contras a:hover{
    color: #ED9B51;
}







/*Diseno pantallas grandes ----------------------------------------------------------------------------------------------------------- */
