
/* Estilos de header - Tiara  */

:root{
    --color-barra-lateral:#fff;
    --color-texto:#000;
    --color-texto-menu:rgb(134, 136, 144);
    --color-boton:#000;
    --color-boton-texto:rgb(225, 225, 225);
    --color-menu-hover:rgb(238, 238, 238);
    --color-menu-hover-texto:rgb(0,0,0);
    --color-linea:rgb(180,180,180);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

main {
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.5s ease; 
}

main.min-main {
    margin-left: 80px;
}


.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    right:15px;
    top:15px;
    z-index: 100;
}

.menu img {
    width: 30px;
    height: auto;
}






.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    right:15px;
    top:15px;
    z-index: 100;
}

.menu img {
    width: 30px;
    height: auto;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    color: #000;
    position: fixed;
    transition: width 0.5s ease, left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral span {
    width: 100px;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    white-space: nowrap; /* Evita que el texto se quiebre */
}

.barra-lateral span.oculto {
    opacity: 0;
    width: 0;
    overflow: hidden; /* Oculta el texto */
}

.barra-lateral .logo-pagina {
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.barra-lateral .logo-pagina img {
    min-width: 50px;
    max-width: 50px;
    cursor: pointer;
}

.barra-lateral .logo-pagina span {
    margin-left: 5px;
    font-size: 25px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Para que no se vea el texto */
.barra-lateral .boton-cita {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color:#fff;
}

.boton-cita {
  cursor: pointer; 
  transition: all 0.5s ease; 
}

.boton-cita:hover {
    transform: translateY(-4px);;
}

    
.barra-lateral .boton-cita img {
    width: 15px;
    height: auto;
    min-width: 20px;
    max-width: 50px;
    margin-right: 5px; /* Espacio entre img y span */
}

.barra-lateral .navegacion {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

/* Para personalizar scroll */
.barra-lateral .navegacion::-webkit-scrollbar {
    width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
    border-radius: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.barra-lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
    padding: 0 10px;
}

.barra-lateral .navegacion a:hover {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion img {
    width: 15px;
    height: auto;
    min-width: 20px;
    max-width: 50px;
    margin-right: 10px;
}

.barra-lateral .linea {
    width: 100%;
    height: 1px;
    background-color: var(--color-linea);
}

.barra-lateral .usuario {
    width: 100%;
    display: flex;
}

.barra-lateral .usuario img {
    width: 40px;
    height: 50px;
    min-width: 50px;
    border-radius: 20%;
    margin-top: 10px;
}

.barra-lateral .usuario a {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
}


.barra-lateral .usuario .info-usuario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre {
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .email {
    font-size: 13px;
}

.nombre-email {
    display: flex; 
    flex-direction: column; 
    margin-left: 10px; 
}


/* fin de estilos de header - Tiara */



/* Esta parte esta siendo trabajada por yohan */


/* tama単o de caja */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
     
}
/* body{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
} */

figure{
      height: 24%;
      width:45% ;
     
}
.logo, .logo img{
    /* tama単os del las imagenes de el logo */
     height: 40%;
    width: 40%;
    margin-left:20px ;    
     cursor: pointer;  /*Presenta la manita cuando estes en el logo */ 

}
a{
    text-decoration: none;
    color: #fff;
}



/* estilos del header trabajado por yohan ------------------------------------------------------------------------------- */

.header-alto{
    width: 100%;

}
.conten-header{
    width: 100%;
    height: 50px;
    background-color: #193A6A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foto-nom{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-evenly;

}
.foto-nom img{
    border-radius: 50%;
}

.menu-icono {
    display: none;
    cursor: pointer;
}
.menu-cell{
    display: none;
    text-decoration: none;
}

.menu-icono div {
    width: 35px;
    height: 5px;
    /* background-color: #fff; */
    margin: 6px 0;
    border-radius: 3px;
}


summary{
    color: #fff;
    width: 200px;
}
.conten-header .nav-alto{
    display: flex;
}
.lista-menu{
    width: 100%;
    color: #fff;
    /* background-color: #D9D9D9; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.lista-menu .item{
    font-size: 17px;
    padding: 12px;
}
 .item:hover{
      background-color:  #2b69c5;
    height: 50px; 
}
.desplegados:hover{
    background-color:  #2b69c5;

}
.nombre:hover{
    color: #ED9B51;
}

.despliegue{
    border-radius: 5px ;
    margin-top: 15px;
    width: 200px;
    height: 80px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #193A6A;
    
}
.desplegados {
   
    font-size: 18px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
 
}
.desplegados a{
       margin-left: 10px;

}

/* Estilos de perfil del usuario------------------------------------------------------------------------*/



.alto-perfil{
     color: #fff;
     display: flex;
     align-items: center;
     width: 100%;
     background-color: #102544;
     height: 60px;
}
 .alto-perfil .flecha {
    margin-left:30px ;
    width: 50px;
    height: 50px;
 } 
.alto-perfil h1{
    font-size: 40px;
    width: 100%;
    transform: translate(-30px);
    text-align: center;
 
} 
.main-editar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 680px;
    margin-bottom: 30px;
}
.contenido-perfil{
     margin-top: 25px;
    border-radius: 3px;
    height: 100%;
    box-shadow:0px 2px 3px 0px; ;
    width: 60%;
    display: flex;
    flex-direction: column;

}
.agregar{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.agregar img{
     border-radius: 60%;
    width:22%;
    height: 50%;
    border: solid #fff;
    box-shadow: 0px 2px 6px 0px;

}
.agregar h2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
    width: 60%;
    border-bottom: solid 2px #ED9B51;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #193A6A;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    height: 35px;
    font-size: 20px;
    border-radius: 15px;
}

.info-perfil{
    display: flex;
    justify-content: space-between;

}

.derecha-perfil,.izquier-perfil{
    width: 50%;
    margin: 0 20px 0 40px;

}

li{
     list-style: none;
     width: 80%;
     font-size: 23px;
}
.ajustes{
    font-size: 18px;
}

.titulos-azul{
    color: #193A6A;
}
.cont-info{
    display: flex;
    justify-content: space-between;
    border-bottom:solid 2px #000;
    margin: 5px 0 10px 0;

}

input{
    display: none;
}



/*Estilos de la parte superior citas agedadas  -----------------------------------------------------------------------------*/


/* .menu-nav{
    background-color: #193A6A;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
} 
.menu-nav img{
    width: 40px;
    height: 30px;
    border-radius:50% ;
}

.menu-nav ul{
    display: flex;
    justify-content: space-around;
   
}
.menu-nav li{
     /* width:10%; */
     /* margin-right: 20px;
    display: flex;
    
}
.agendadas{
    color: #fff;
    font-size: 30px;

}
.Menu a:link{
    text-decoration: none;

}
.Menu a{
    color: #fff;
    font-size: 16px;
}
.Menu a:hover{
    color: #ED9B51;
}  */
/* Cuerpo de Citas agendadas --------------------------------------------------------------------------------*/


.usr a{
    display: flex;
    align-items: center;
    margin-left: 30px;

}

.usr img{
    margin-right: 10px;
}

.agen {
    color: #ff0000;
    width: 90%;
    margin-top: 20px;
    /* background-color: #193A6A; */
    display: flex;

    justify-content:end;

    
} 
.agen a{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #193A6A; */
    font-size: clamp(1.10em, 2vw,1em );
    height: 50px;
    border-radius: 5px;
    width: 15%;
    background: linear-gradient(315deg, #17345f, #1b3e71);

    
}


.con-tabla{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #4AD818; */
}


table{
    font-size: clamp(1em, 1.5vw, 1.3em );
    margin-top: 20px;
    text-align: center;
    width: 90%;
    border-collapse: collapse;/*Fusionar los bordes  */

}

th{
    color: #fff;
}
th,td{
    padding:17px;
}

thead{
    background-color: #193A6A;
}

.blanco{
    background-color: #fff;
}
.gris{
    background-color: #e7e6e6;
}
tbody tr{
    padding: 20px;
}

.verde{
   color: #4AD818;
   font-weight: 900;
}

.roja{
    border-left: solid 2px #302e2e;
    /* padding-left: 6px; */
   color:#FF0000 ;
   font-weight: 900;
}

.verde:hover{
    color: #4AD818;
    border-bottom: solid 2px #4AD818;
    
}

.roja:hover{
    color:#FF0000 ;
      border-bottom: solid 2px #FF0000;
    

}

/* Estilos de listado de mascotas y usuarios ------------------------------------------------------------------*/




.a-hed {
  
    display: flex;
    justify-content: space-between;
    
} 

.botones-lis{
    display: flex;
    justify-content: space-around;
    align-items: end;
   
}

.botones-lis .icons img{
      width: 45px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.titulo-listas{
    background-color: #193A6A;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.galeria article {
    display: inline-block;
    margin-right: 50px;
    
}

.galeria article img {
    width: 250px; 
    height: auto; 
   
}

.galeria article img:hover {
    transform: scale(1.1);
}

.pie {
    text-align: center;
    color: #102544;
}


/* pagina de codigo de verificacion--------------------------------------------------------------------------- */


/* .head-recu{
    display: flex;
    flex-direction: column;
}

.head-recur h1{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #193A6A;
    color: #fff;
    
}
.main-recu{
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: center;
    align-content: center;
   
}
.conten-recu{
    border: solid 2px #000;
    display: flex;
    flex-direction: column;
   width: 55%;
    height: 370px;
    margin-top: 40px;
    border-radius: 30px;
}

.conten-alto {
   height: 25%;
    border-bottom: solid  #ED9B51;
}

.conten-alto p,h3{
    font-size: 22px;
    font-weight: 700;
    margin:20px 0 0 30px;
}
.conten-alto a{
    text-decoration: none;
}
.div-cod{
    height: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.div-cod input{
    width: 10%;
    height: 100% ;
    border-radius: 17%;
 

}
/* pagina del codigo de verificacion */
/* .nueva-con{ */
    /* display: flex;
    flex-direction: column;
    height: 100%;
 

}
.nueva-con .crea-con{
    display: flex;
    height: 80px;
    align-items: center;
     border-bottom: solid  #ED9B51;

}
.nueva-con .crea-con h3{
    font-size: 29px;
    

}
.con-contras{
    height: 200px;
     margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.con-contras label{
   
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}
.con-contras input{
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
     border-radius: 5px  5px  5px  5px;
    width: 25%;
}
.con-contras a{
    color: #fff;
    border-radius: 10px  10px  10px  10px;
    width: 20%;
    text-align: center;
    background-color: #193A6A;

    margin-top: 15px;
    font-size: 25px;
    text-decoration: none;
}
.con-contras a:hover{
    color: #ED9B51;
}  */



     
    /* media queries del header */

  @media (max-height: 600px) {

     
    /* media queries del header */
    .barra-lateral .logo-pagina {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {
   
    .barra-lateral {
        position: fixed;
        left: -250px;
    }

    .max-barra-lateral {
        left: 0;
    }

    .menu {
        display: flex;
    }

    main {
        margin-left: 0;
        padding: 20px; /* Ajuste del padding para pantallas peque単as */
    }

    main.min-main {
        margin-left: 0;
    }

    .servicio-contenedor {
        margin-left: 0; /* Ajuste del margen para pantallas peque単as */
    }

    /* Tabla de citas agendadas */
     th,td{
     /* font-size: clamp(0.6em, 0.9vw, 1.5em ); */
     font-size: 12px;
     padding-right: 3px;
     padding-left:3px;

    }
       .agen a{
        font-size: clamp(0.9em, 1vw, 4em );
        height: 30px;
        width: 80px;
    }
}
   



@media (min-width: 601px) and (max-width: 1000px){
    /* Citas agendadas */
    .barra-lateral{
        width: 200px;
        /* background-color: #193A6A; */
    }
    th,td{
     font-size: clamp(0.6em, 0.9vw, 1.5em );
     /* font-size: 8px; */
     padding-right: 3px;
     padding-left:3px;

    }
    .agen a{
        font-size: clamp(0.9em, 1vw, 4em );
        height: 30px;
        width: 80px;
    }
}
    

 