
/* HECHO POR LAURA */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* PAG DE INICIO */
.logo, .logo img{
    /* tamaños del las imagenes de el logo */
     height: 10%;
    width: 20%;
    margin-left:20px ;    
     cursor: pointer;  /*Presenta la manita cuando estes en el logo */ 
}

/* estilos del header trabajado por yohan ------------------------------------------------------------------------------- */

.header-alto{
    width: 100%;

}


li{
    list-style: none;
    width: 80%;
    font-size: 23px;
}
.conten-header{
    width: 100%;
    height: 50px;
    background-color: #193A6A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto-nom{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-evenly;

}
.foto-nom img{
    border-radius: 50%;
}

.menu-icono {
    display: none;
    cursor: pointer;
}
.menu-cell{
    display: none;
    text-decoration: none;
}

.menu-icono div {
    width: 35px;
    height: 5px;
    /* background-color: #fff; */
    margin: 6px 0;
    border-radius: 3px;
}


summary{
    color: #fff;
    width: 200px;
}
.conten-header .nav-alto{
    display: flex;
}
.lista-menu li a{
    text-decoration: none;
    list-style: none;
}
.lista-menu{
    width: 100%;
    /* background-color: #D9D9D9; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.nombre{
    text-decoration: #fff;
}
.lista-menu .item{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 12px;
}
.nombre{
    color: #fff;
}
 .item:hover{
      background-color:  #2b69c5;
    height: 50px; 
}
.desplegados:hover{
    background-color:  #2b69c5;

}
.nombre:hover{
    color: #ED9B51;
}

.despliegue{
    border-radius: 5px ;
    margin-top: 15px;
    width: 200px;
    height: 80px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #193A6A;
    
}
.desplegados {
    
    font-size: 18px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
 
}
.desplegados a{
    color: #fff;
       margin-left: 10px;

}




h2{
    margin-top: 25px;
    margin-bottom: 25px;
   text-align: center;  /* Centrar el texto (Los mejores amigo de tu mejor amigo) */
   font-size: 40px; /* Tamaño de las letras */
   color: #193A6A; /* Color de las letras */
}

.panel{
    display: flex; /*mover las img en el centro */
    justify-content: space-evenly; /* colocarlas en lineas y con espacios  */
    padding-top: 20px; /* Espacio hacia arriba */
    margin-bottom: 100px; /* Espacio hacia abajo */
   
}


.SegundaParte{
    padding: 4px 5%; /* Ajuntando de los lados */
    padding-top: 10px;  /* Espacio hacia arriba */
}

.imagen-panel{
    text-align: center; /* Los parrafos se centren con las img */
    font-size: 20px; /* Tamaño de las letras */
    color: #193A6A;  /* Color de las letras */
    font-weight: bold; /* Poner las letras en negrita */
    padding-top: 10px;  /* Espacio hacia arriba para la sombra */
    padding-bottom: 10px;  /* Espacio de abajo para la sombra */
    /* border: 1px solid; */
}



section, footer{
    padding-top: 360px; /* Tamaño de la img de fondo */
    background: url(../imagenes/fondo2.jpg);/* img de fondo */
    background-size: cover; /* Para que la img se adapte a su posicion normal */ 
    background-attachment: fixed;  /* esto es para mantener fijo el efecto defondo, que es la img para desplazarla. */
    position: relative; /* permiten desplazar la img desde su posición original sin afectar el diseño de los demas elementos en la página. */
  
}


footer {
    height: 400px;  /* espacio de arriba */
    padding: 30px 30px; /* relleno de los lados */
}



.box-icons{
    padding-top: 180px; /* Espacio de arriba */
    display: flex; /*poder mover los iconos y letras al centro */
    justify-content: space-evenly;/* colocarlas en lineas y con espacios  */
    padding-bottom: 40px;/* Espacio hacia abajo */
}


.content{
    text-align: center; /* poner los iconos centrados */
}

.content h4{
    color: #19396a;  /* letras azules */
    padding-top: 9px;  /* Espacio hacia arriba */ 
}

.bx {
    font-size: 40px;/* Tamaño de los iconos */
}


/* PAGINA DE AGENDAR CITA Y GUARDERIA */



/* HEADER */


/* .menu  {
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: -90px;
    margin-left: 1080px;
    align-items: center
}

.menu li {
    display: flex;
    margin: 10px;
}

.links{
     color:#fff;
    font-size: 30px;
}

.menu a:link{
    text-decoration: none;
}


.menu a{
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
}
.menu a:hover{
    color: #ED9B51;
}

h1 {
    color:#fff;
} */

.maria{
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-left: 3px;
    transition: all 0.3s ease;
}

.maria:hover{
    color: #ED9B51;
}

/* MAIN */



.encabezado {
   color: #193A6A;/* color de el tituolo de el formulario */
   font-size: 26px;/* tamano de la letra  */
   font-weight: 750;/* ancho de la letra para que el background llegue hasta el final de la pagina */
   padding-bottom: 9px;/* agrega algo de espacio a la izquierda del elemento */
   border-bottom: 2px solid #ED9B51;/* borde inferior al elemento */
   margin-left: -25px;/* agrega algo de espacio a la izquierda del element */
   margin-right: -30px;
   margin-top: 10px;
}

.box {
    border: 1px solid #E6E6E6;/*  borde del elemento para que tenga 1 píxel de ancho, sea sólido (sin puntos ni rayas) y de color blanco. */
    padding: 30px;/* cantidad de espacio del elmento  */
    margin: 30px  auto;/* maren del elemento 20px arriba y abajo y auto a la izquierda y derecha */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* efecto de sombra  */
    border: 5px;/* un borde alrededor del elemento*/
    width: 90%;/*  ancho del elemento */
    height: 640px;/*altura del elemento  */
}



label {
    color: #193A6A;/* color de la letra  */
    font-weight: 600;/* grosor de la letra  */
    font-size: 15px;/* tamano de la letra */
}



.form-1{
    margin-left: 10px ;/* margen izquierdo */
    margin-top: 15px;/* margen superior */
    width: 530px;/* ancho de los inputs */
}

.form-2 {
    margin-left: 600px;/* para mover a la izquierda */
    margin-top: -280px;/* para mover arriba */
    width: 530px;/* ancho de los inputs */
   
}

.form-input {
    /* border-color: white; */
    display: flex;/* para que sea flexible */
    width: 100%;/* el ancho que quiero que tenga, en este caso use el porciento porque era mas efeciente */
    padding: 8px;/* el tamano de los input */
}


textarea {
    margin-top: 15px;  /* espacio de arriba */
    width: 98%; /*   tamaño del cuadro*/
    resize: none;/* no darle la opcion al usuario de que lo haga mas grande el cuadro  */
    min-height: 140px; /* Espacio minimo haca arriba */
   border: 1px solid;/* border: none; */
  
}


.ancho {
    padding: 8px;/* cantidad de espacio del elmento  */
    width: 100px; /* el ancho del boton */
    border-radius: 5px;/* para redondear un poco el boton */
    border: none;/* para quitarle el bordde */
}


.link {
    margin-top: 3px;/* margen superior */
    text-align: center;/* texto en el medio */
}


button {
    display: block; /* colocar el botton debajo */
    background-color: #193A6A;/* color del boton  */
    color:#fff;/* color de letra del boton */
}


button:hover {
    transform: translateY(-2px);/* para mover el elemento 5 píxeles hacia arriba a lo largo del eje Y.  */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);/* sombra al boton de continuar */
    background-color: #1F57A9;/* color de fondo cuando lo tocan */
    cursor: pointer; /* presente la manita */
}


a {
    color: #193A6A; /* color del link */
}


.a-2{
    color: #fff; /* color de la letra  */
    text-decoration: none/* para quitarle la rayita  */
}

.imagen-panel {
    transition: transform 0.3s ease;
}

.imagen-panel:hover {
    transform: scale(1.1);
}

/* RECUPERAR- CUENTA */

.cont{
    padding: 30px;/* cantidad de espacio del elmento  */
    margin: 70px  auto;/* margen del elemento 20px arriba y abajo y auto a la izquierda y derecha */
    border: 1px solid;/* un borde alrededor del elemento*/
    border-radius: 20px;
    width: 55%;/*  ancho del elemento */
    height: 290px;/*altura del elemento  */
}


h5{
    border-bottom: 3px solid #ED9B51;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 20px;
}


h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -5px;
}

.ip{
    border-radius: 7px;
    margin-top: 15px;/* margen superior */
     /* border-color: white; */
     display: flex;/* para que sea flexible */
     width: 95%;
     padding: 13px;/* el tamano de los input */
     margin-bottom: 45px;
    border: 1px solid;

}

.btn{
    text-align: end;
    margin-right: 10px;
    font-size: 25px;
}


.enlace1{
    color: black;
    margin-right: 40px;
    text-decoration: none;
    border-radius: 5px;
   
}

.enlace2{
    margin-right: 30px;
    text-decoration: none;
    border-radius: 5px;
    top: 20px;
   
}








/* MEDIA QUERY CELULAR*/

@media screen and (max-width: 600px) {

    /* LOGO, TITULO */
    .hed-s  .logo {
       width: 135px;
       height: auto; 
       margin-left: 10px;
    }

    .hed-s h1 {
       background-color: #193A6A;
       padding: 5px;
    }
    

    h2{
        text-align: center; 
        font-size: 33px; 
        color: #193A6A; 
     }

     

     /*MENU Y FOTO*/

     .hed-s .usuario{
        
       margin-bottom: -9px;
       margin-left: 4px; /* Despegar un poco de los menus */
       border-radius: 50%;
      }

    

     .menu  {
    
     display: flex;
     height: 50px;
     justify-content: end;
     align-items: center;
     }

     .menu ul {
   
      display: flex;
      margin-left: 175px;
      }

     .menu li {
    
      display: flex;
      margin: 8px;
     }

     .hed-s .links{
     color: white;
      font-size: 12.5px;
     }

     .maria{
        margin-bottom: 5px;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        margin-left: 3px;
        transition: all 0.3s ease;
    }

     /* IMAGENES DEL CENTRO */


     .imagen-panel{
     margin-bottom: 5px;
      }

      .panel {
      display: flex;
      flex-direction: column; 
      align-items: center;
      }
    
      section, footer{
      padding-top: 150px; 
      background: url(../imagenes/fondo2.jpg);
      background-size:contain; 
      background-attachment:fixed;


      

     }

     .encabezado {
        color: #193A6A;/* color de el tituolo de el formulario */
        font-size: 24px;/* tamano de la letra  */
        font-weight: 750;/* ancho de la letra para que el background llegue hasta el final de la pagina */
        padding-bottom: 8px;/* agrega algo de espacio a la izquierda del elemento */
        border-bottom: 2px solid #ED9B51;/* borde inferior al elemento */
        margin-left: -29px;/* agrega algo de espacio a la izquierda del element */
        margin-right: -30px;
        margin-top: -3px;
     }

     .box {
        border: 1px solid #E6E6E6;/*  borde del elemento para que tenga 1 píxel de ancho, sea sólido (sin puntos ni rayas) y de color blanco. */
        padding: 30px;/* cantidad de espacio del elmento  */
        margin: 30px  auto;/* maren del elemento 20px arriba y abajo y auto a la izquierda y derecha */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* efecto de sombra  */
        border: 5px;/* un borde alrededor del elemento*/
        width: 90%;/*  ancho del elemento */
        height: 610px;/*altura del elemento  */
    }

    label {
        color: #193A6A;/* color de la letra  */
        font-weight: 600;/* grosor de la letra  */
        font-size: 15px;/* tamano de la letra */
    }
    
    
    
    .form-1{
        margin-left: -8px ;/* margen izquierdo */
        margin-top: 15px;/* margen superior */
        width: 180px;/* ancho de los inputs */
    }

    .form-2 {
        margin-left: 200px;/* para mover a la izquierda */
        margin-top: -285px;/* para mover arriba */
        width: 180px;/* ancho de los inputs */
       
    }
    
    .form-input {
        /* border-color: white; */
        display: flex;/* para que sea flexible */
        width: 100%;/* el ancho que quiero que tenga, en este caso use el porciento porque era mas efeciente */
        padding: 8px;/* el tamano de los input */
    }

    textarea {
        margin-top: 15px;  /* espacio de arriba */
        width: 98%; /*   tamaño del cuadro*/
        resize: none;/* no darle la opcion al usuario de que lo haga mas grande el cuadro  */
        min-height: 140px; /* Espacio minimo haca arriba */
       border: 1px solid;/* border: none; */
      
     }

    
      .ancho {
      padding: 8px;/* cantidad de espacio del elmento  */
      width: 100px; /* el ancho del boton */
      border-radius: 5px;/* para redondear un poco el boton */
      border: none;/* para quitarle el bordde */
       margin-top: 15px;
     }


      .link {
       margin-top: 3px;/* margen superior */
       text-align: center;/* texto en el medio */
      }




}

/* MEDIA QUERY TABLET*/

@media screen and (min-width: 601px) and (max-width: 1000px) {

     /* estilos de tablet del header  trabajados por yohan*/


     .foto-nom{
        width: 21%;
    }
      .foto-nom a{
        font-size: 12px;
    }
    .lista-menu .item{
        font-size: 13px;
    }
    .conten-header .nav-alto{
    display: flex;
    }


    .logo img{
        width: 50%;
        margin-bottom: 20px;
    }












    /* LOGO, TITULO */
    /* .hed-s  .logo {
        width: 200px;
        height: auto; 
        margin-left: 10px;
     } */
 
     .hed-s h1 {
        background-color: #193A6A;
        padding: 5px;
     }
     
 
     h2{
         text-align: center; 
         font-size: 40px; 
         color: #193A6A; 
      }
 
      
 
      /*MENU Y FOTO*/
 
      .hed-s .usuario{
         
        margin-bottom: -9px;
        margin-left: 4px; /* Despegar un poco de los menus */
        border-radius: 50%;
       }
 
     
 
      .menu  {
     
      display: flex;
      height: 50px;
      justify-content: end;
      align-items: center;
      }
 
      .menu ul {
    
       display: flex;
       margin-left: 175px;
       }
 
      .menu li {
     
       display: flex;
       margin: 8px;
      }
 
      .hed-s .links{
      color: white;
       font-size: 17px;
      }
 
      .maria{
         margin-bottom: 5px;
         color: #fff;
         font-size: 16px;
         text-decoration: none;
         margin-left: 3px;
         transition: all 0.3s ease;
     }
 
      /* IMAGENES DEL CENTRO */
 
 
      .imagen-panel{
      margin-bottom: 5px;
       }
 
       .panel {
       display: flex;
       flex-direction:row; 
       align-items: center;
       }
     
       section, footer{
       padding-top: 150px; 
       background: url(../imagenes/fondo2.jpg);
       background-size:cover; 
       background-attachment:fixed;
       
 
      }

      
     .encabezado {
        color: #193A6A;/* color de el tituolo de el formulario */
        font-size: 24px;/* tamano de la letra  */
        font-weight: 750;/* ancho de la letra para que el background llegue hasta el final de la pagina */
        padding-bottom: 8px;/* agrega algo de espacio a la izquierda del elemento */
        border-bottom: 2px solid #ED9B51;/* borde inferior al elemento */
        margin-left: -29px;/* agrega algo de espacio a la izquierda del element */
        margin-right: -30px;
        margin-top: -3px;
     }

     .box {
        border: 1px solid #E6E6E6;/*  borde del elemento para que tenga 1 píxel de ancho, sea sólido (sin puntos ni rayas) y de color blanco. */
        padding: 30px;/* cantidad de espacio del elmento  */
        margin: 30px  auto;/* maren del elemento 20px arriba y abajo y auto a la izquierda y derecha */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* efecto de sombra  */
        border: 5px;/* un borde alrededor del elemento*/
        width: 90%;/*  ancho del elemento */
        height: 610px;/*altura del elemento  */
    }

    label {
        color: #193A6A;/* color de la letra  */
        font-weight: 600;/* grosor de la letra  */
        font-size: 15px;/* tamano de la letra */
    }
    
    
    
    .form-1{
        margin-left: -8px ;/* margen izquierdo */
        margin-top: 15px;/* margen superior */
        width: 390px;/* ancho de los inputs */
    }

    .form-2 {
        margin-left: 400px;/* para mover a la izquierda */
        margin-top: -285px;/* para mover arriba */
        width: 390px;/* ancho de los inputs */
       
    }
    
    .form-input {
        /* border-color: white; */
        display: flex;/* para que sea flexible */
        width: 100%;/* el ancho que quiero que tenga, en este caso use el porciento porque era mas efeciente */
        padding: 8px;/* el tamano de los input */
    }

    textarea {
        margin-top: 15px;  /* espacio de arriba */
        width: 98%; /*   tamaño del cuadro*/
        resize: none;/* no darle la opcion al usuario de que lo haga mas grande el cuadro  */
        min-height: 140px; /* Espacio minimo haca arriba */
       border: 1px solid;/* border: none; */
      
     }

    
      .ancho {
        padding: 8px;/* cantidad de espacio del elmento  */
     width: 100px; /* el ancho del boton */
     border-radius: 5px;/* para redondear un poco el boton */
     border: none;/* para quitarle el bordde */
     margin-top: 15px;
      }


     .link {
      margin-top: 3px;/* margen superior */
      text-align: center;/* texto en el medio */
     }



}

/* MEDIA QUERY CELULAR, RECUPERAR CUENTA */
  @media screen and (max-width: 600px) {

    .logo img{
        width: 90%;
    }
.nav-alto{
    /* width: 100%; */
        justify-content: end;
        align-items: center;
        /* margin-right: 10px; */
        /* background-color: #2b69c5; */
        
    }
   .menu-icono{
    /* background-color: #2b69c5; */
    position: absolute;
        display: block;
    }
    .lista-menu{
        display: none;
    }
    details{
        display: none;
    }

    .lista-menu.active {
        display: block;
        /* display: flex; */
        /* flex-direction: column; */
        margin-top: 82%;
        background-color: #193A6A;
        width: 200px;
        border-radius: 5px;
        /* transform: translate(-100px); */
        /* margin-right: 30px; */
        z-index: 1;
        /* margin-top:55%; */
    
    }
    .lista-menu.active a{
        display: flex;
        color: #FFF;
        width: 190px;
        /* flex-direction: row-reverse; */
        /* flex-wrap: nowrap; */
        /* background-color: #4AD818; */
        padding: 0px;
        /* justify-content: end; */

        font-size: 13px;
        margin: 5px;
    }
    .lista-menu.active a:hover{
        height: inherit;
        /* background-color: #FF0000; */
    }
    .foto-nom{
        width: 25%;
        font-size: 13px;
    }
   



    .hed-s  .logo {
       width: 200px;
       height: auto; 
       margin-left: 10px;
    }

    .hed-s .Recupera {
        font-size: 23px;
     }


      .cont {
          padding: 30px;
          margin: 70px auto;
          border: 1px solid;
          border-radius: 20px;
          width: 420px;
          height: 270px;
      }


      h5 {
          border-bottom: 3px solid #ED9B51;
          margin-left: -30px;
          margin-right: -30px;
          margin-bottom: 20px;
      }


      h3 {
          font-size: 17px;
          font-weight: bold;
          margin-bottom: 10px;
          margin-left: -5px;
      }

      .ip {
          border-radius: 7px;
          margin-top: 40px;
          /* margen superior */
          /* border-color: white; */
          display: flex;
          /* para que sea flexible */
          width: 97%;
          padding: 3px;
          /* el tamano de los input */
          margin-bottom: 70px;
          border: 1px solid;

      }

      .btn {
          text-align: end;
          margin-right: 15px;
          font-size: 15px;
      }


      .enlace1 {
          color: black;
          margin-right: 20px;
          text-decoration: none;
          border-radius: 5px;

      }

      .enlace2 {
          margin-right: 30px;
          text-decoration: none;
          border-radius: 5px;
          top: 20px;

      }


  }


 /* ADOCCION */
 /* LAURA C. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ANUNCIO DE LA ADPCION */

.adopt-container {
    text-align: center;/* centrar el texto */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.texto .h1 {
    color: #193A6A;
    font-size: 3em;
    margin-top: 20;
}

.texto .p {
    color: #333;
    font-size: 1.5em;
    margin: 10px 0;
}

/* CUERPO O FONDO */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8FF;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 1rem;
}


.padre {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.hijo {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    width: 15rem;
    height: 29rem;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.hijo__preview img {
    width: 100%;
    height: 85%;
}
.hijo__preview1 img {
    width: 100%;
    height: 90%;
}
.hijo__preview2 img {
    width: 100%;
    height: 95%;
}
.hijo__preview3 img {
    width: 100%;
    height: 90%;
}




.hijo__content {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -85px;
}
.hijo__content1 {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -65px;
}
.hijo__content2 {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -50px;
}
.hijo__content3 {
    padding: 1.25rem;
    font-size: 15px;
    margin-top: -65px;
}


.hijo__title{
    font-size: 20px;
    margin-right: 150px;

}

.hijo__descrip {
    
    margin-top: 0.5rem;
    margin-bottom: 20px;
    max-height: 60px ;  
     
}

.whatsapp-icon {
    display: flex;
    justify-content: flex-end;
}


.whatsapp-icon img {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 200px;
    margin-right: -10px; /* Espacio entre el ícono y el borde derecho */
    margin-top: 3px;
}

.whatsapp-icon1 {
    display: flex;
    justify-content: flex-end;
}
.whatsapp-icon1 img {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 200px;
    margin-right: -10px; /* Espacio entre el ícono y el borde derecho */
    margin-top: 15px;
}


