/* Esta parte esta siendo trabajada por yohan */

/* tamaño de caja */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}
body{
    height: 900px;
}
.conte-header{
    height: 120px;
     display: flex;
    justify-content: space-between;
}
header .logo img{
     height: 120px;
    width: 250px;
    margin-left:20px ;    
     cursor: pointer;  /*Presenta la manita cuando estes en el logo */ 

}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;/*Para separar el espacio entre menus  */
    height: 150px;
    width: 300px;
    
    
}
.menu li{
    list-style: none;  /* Quitarle los puntos negros de la lista */   
}
.menu .opciones{
    width: 900px;
    height: 80px;
    justify-content: center;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color:  #193A6A;
    height: 50px;
}
/* Estilos del cuerpo  */
.general {
    /* display: grid;
    grid-template-columns: 500px 500px 500px; */
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    /* background-color: brown; */
}
.general .columna {
    /* background-color: rgb(106, 114, 111); */
    width: 400px;
    margin: 20px;

}
/* estilos a la parte alta donde se puede editar el perfil ver su foto y el nombre */
.parte-alta {
    margin-top: 30px;
    display: flex;
    justify-content:space-around;
    justify-content: center;
}
.parte-alta .edit{
    margin-left: 15px; /*Hacer que se aleje del la foto de perfil  */
    display: flex;
    flex-direction: column;/*Para hacer que el nombre y editar perfil se coloquene en columna  */
    justify-content: center;/* Para hacer que quede centrado con la imagen */
}
/* Estilos de la imagen del perfil */
.parte-alta img{
    border-radius: 60%;
    width: 150px;
    height: 150px;
    border: solid #fff;
    box-shadow: 0px 2px 6px 0px;
}

.edit h2{
    font-size: 30px;
    color: #000;

}
/* Use el selector de atributos porque no dectectaba el  "editar-mascota.html"*/
.edit a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 15px;
    width: 130px;
    height: 35px;
    color: #fff;
    background-color: #193A6A;
    border-radius:20px 20px 20px 20px;

}
li{
    list-style: none;
}
.listas{
    margin-top: 10px;
    display: flex;
    margin-left:100px ;
    flex-direction: column;

}
.cont{
    color: #193A6A;
    font-size: 30px;
    margin: 10px 10px 10px 0;
}
.cont2{
    color: #000;
    font-size: 25px;
    border-bottom: solid 2px #3f3b3b;
}



