
/* HECHO POR TIARA */


/* a_administrador.html */

@import "reset.css";


    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abhaya Libre", serif;
}


header {
    color: #fff;
    font-size: 20px;
    width: 100%;
}

body {
    font-family: "Abhaya Libre", serif;
}






/* estilos del header trabajado por yohan ------------------------------------------------------------------------------- */

.header-alto{
    width: 100%;

}
li{
    list-style: none;
    width: 80%;
    font-size: 23px;
}
.conten-header{
    width: 100%;
    height: 50px;
    background-color: #193A6A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foto-nom{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-evenly;

}
.foto-nom img{
    height: 30px;
    width: 40px;
    border-radius: 50%;
}

.menu-icono {
    display: none;
    cursor: pointer;
}
.menu-cell{
    display: none;
    text-decoration: none;
}

.menu-icono div {
    width: 35px;
    height: 5px;
    /* background-color: #fff; */
    margin: 6px 0;
    border-radius: 3px;
}


summary{
    color: #fff;
    width: 200px;
}
.conten-header .nav-alto{
    /* position: relative; */
    /* background-color: #4AD818;/ */
    /* width: 53%; */
    display: flex;
}
.lista-menu{
    width: 100%;
    /* background-color: #D9D9D9; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.lista-menu .item{
    font-size: 17px;
    padding: 12px;
}
 .item:hover{
      background-color:  #2b69c5;
    height: 50px; 
}
.desplegados:hover{
    background-color:  #2b69c5;

}
.nombre:hover{
    color: #ED9B51;
}

.despliegue{
    border-radius: 5px ;
    margin-top: 15px;
    width: 200px;
    height: 80px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #193A6A;
    
}
.desplegados {
   
    font-size: 18px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
 
}
.desplegados a{
       margin-left: 10px;

}

/* hasta aqui la parte trabajadas por yohan */


.text-pag-b {
    display: flex;
    background-color: #102544;
    padding: 10px;
    width: 100%;
    font-size: 25px;
}


.alto-admi .botones {
    display: flex;
    justify-content: end;
    width: 99%;
    margin-top: -5rem;
}

.icons {
    display: flex;
    width: 40px;
    height: 37px;
}

.icons img {
    width: 35px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.icons img:hover {
    transform: scale(1.2);
}

.button {
    width: 100%;
    height: 100%;
}


.galeria {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top: 130px;
}


.galeria article {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px; 
}

.galeria article img {
    width: 200px;
    transition: all 0.5s ease;
}

.galeria article img:hover {
    transform: scale(1.1);
}

.pie {
    text-align: center;
    color: #102544;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;    
}




/* u_info_general.html */

.info-section {
    background-color: #f8f8f8;
    padding: 60px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
}

.section {
    text-align: center;
    margin-bottom: 40px;
}

.section h2 {
    font-size: 28px;
    color: #333;
    margin-top: 50px;
}

.raya {
    width: 120px;
    height: 3px;
    background-color: #ED9B51;
    margin: 0 auto;
    margin-top: 15px;
}

.info-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.info-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}



/* u_registroMascotas.html y  u_registrousuario.html  */

.styles-header {
    display: flex;
    font-size: 15px;
    font-weight: 600;
}

.styles-header, img {
    display: flex;
    width: 250px;
    height: auto; 
}

.text{
  display: flex;
  background-color: #193A6A;
  color: #fff;
  width:100%;
  text-align: center;
  font-size: 26px;
  padding: 7px;

}


.encabezado {
   color: #193A6A;
   font-size: 26px;
   font-weight: 700;
   padding-bottom: 9px;
   border-bottom: 2px solid #ED9B51;
   margin-left: 8px;
}
   

.box {
    border: 1px solid #E6E6E6;
    padding: 30px;
    margin: 20px  auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px;
    width: 60%;
    height: 480px;
}

label {
    color: #193A6A;
    font-weight: 600;
    font-size: 15px;
}

.span {
    color: black;
    font-weight: 500;
}

.form-1{
    margin-left: 5px ;
    margin-top: 15px;
    width: 45%;
}

.form-2 {
    margin-left: 400px;
    margin-top: -274px;
    width: 45%;
}


.form-input_pe {
    display: flex;
    width: 50%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

.seleccion {
    display: flex;
    margin-left: 200px; 
}


.form-input, [type*="radio"] {
    display: flex;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

.boton {
    margin-top: 80px;
    margin-left: 270px;

}

.registrate-1 {
    margin-top: 9px;
    margin-left: 220px;
}

.ancho {
    padding: 7px;
    width: 250px; 
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.link {
    margin-top: 3px;
    text-align: center;
}

button {
    background-color: #193A6A;
    color:#fff;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);/* sombra al boton de continuar */
    background-color: #1F57A9;/* color de fondo cuando lo tocan */
}

.a-1 {
    color: #193A6A; /* color del link */
}

.a-2{
    color: #fff; /* color de la letra  */
    text-decoration: none/* para quitarle la rayita  */
}


/* u_servicios.html */

.servicio-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicio-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    margin: 45px 20px;
    max-width: 350px;
    width: 50%;
}

.servicio-card img {
    width: 60px;
    margin-bottom: 20px;
}

.servicio-card h2 {
    color:  #2C7CBE;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.servicio-card p {
    color: #666;
    margin-bottom: 20px;
    font-size: 17px; 
}


.icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.icon-img img {
    width: 60px;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0;      
}      

.lista ul {
    padding: 0;
    list-style: none;

}

.lista li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.lista li img {
    margin-right: 10px;
    width: 40px;

}


.servicio-adomicilio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #2C7CBE;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
}

.servicio-adomicilio h2 {
    color: #fff;
    font-size: 22px;

}

.servicio-adomicilio p {
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
}


/* Media queries */

/* a_administrador */

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .a-hed {
        width: 30%;
        height: 30%;
    }

    .galeria {
        margin: 90px 45px;
        padding: 50px;
    }

    .galeria article {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .text-pag-b {
        width: 101%;
        font-size: 18px;
    }

    .alto-admi .botones {
        margin-top: -115px;
    }

    .center {
        margin-left: 20px;
    }

}

/* Media queries para tabletas */
@media (min-width: 601px) and (max-width: 1000px) {
    /* estilos de tablet del header */


    .foto-nom{
        width: 21%;
    }
      .foto-nom a{
        font-size: 12px;
    }
    .lista-menu .item{
        font-size: 13px;
    }
    .conten-header .nav-alto{
    display: flex;
    }


    .logo img{
        width: 50%;
        margin-bottom: 20px;
    }






    .a-hed {
        width: 30%;
        height: 30%;
    }

    .galeria {
        display: flex;
    }

    .galeria article {
       margin: 37px;
    }

    .text-pag-a {
        margin-left: 20px;
        width: 101%;
    }

    .center {
        margin-left: 50px;
    }
    
}

/* Media queries para pantallas de escritorio */
@media (min-width: 901px) and (max-width: 1200px) {
    .a-hed {
        width: 100%;
        height: 100%;
    }

    .galeria {
        display: flex;
    }

    .galeria article {
       margin: 100px;
    }

    .text-pag-b {
        width: 100%;
    }

    .center {
        margin-left: 50px;
    }
   
}

/* u_info_general.html */

@media (max-width: 600px) {

}

@media (min-width: 601px) and (max-width: 1000px) {


    .nav-alto {
    width: 60%;
  }

  .foto-nom {
    width: 20%;
  }

  .lista-menu .item {
    font-size: 16px;
    padding: 10px;
  }

  .despliegue {
    width: 200px;
    height: 75px;
  }

  .desplegados {
    font-size: 17px;
    height: 37px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {

}

/* u_servicios.html */

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .logo img{
        width: 90%;
    }
.nav-alto{
    /* width: 100%; */
        justify-content: end;
        align-items: center;
        /* margin-right: 10px; */
        /* background-color: #2b69c5; */
        
    }
   .menu-icono{
    /* background-color: #2b69c5; */
    position: absolute;
        display: block;
    }
    .lista-menu{
        display: none;
    }
    details{
        display: none;
    }

    .lista-menu.active {
        display: block;
        /* display: flex; */
        /* flex-direction: column; */
        margin-top: 82%;
        background-color: #193A6A;
        width: 200px;
        border-radius: 5px;
        /* transform: translate(-100px); */
        /* margin-right: 30px; */
        z-index: 1;
        /* margin-top:55%; */
    
    }
    .lista-menu.active a{
        display: flex;
        color: #FFF;
        width: 190px;
        /* flex-direction: row-reverse; */
        /* flex-wrap: nowrap; */
        /* background-color: #4AD818; */
        padding: 0px;
        /* justify-content: end; */

        font-size: 13px;
        margin: 5px;
    }
    .lista-menu.active a:hover{
        height: inherit;
        /* background-color: #FF0000; */
    }
    .foto-nom{
        width: 25%;
        font-size: 13px;
    }
   





    .servicio-card {
      width: 90%;
      margin: 30px 10px;
    }

    .servicio-adomicilio {
        width: 90%;
      margin: 30px 20px;
    }
  }
  
  /* Media queries para tabletas */
  @media (min-width: 601px) and (max-width: 1000px) {
    .servicio-card {
      width: 70%;
    }

    .servicio-adomicilio {
        width: 90%;
      margin: 30px 40px;
    }

  }
  
  /* Media queries para pantallas de escritorio */
  @media (min-width: 1001px) and (max-width: 1200px) {
    .servicio-card {
      width: 40%;
    }

    .servicio-adomicilio {
        width: 60%; 
    }
  }