
/* HECHO POR TIARA */

/* estilo del header */

:root{
    --color-barra-lateral:#fff;
    --color-texto:#000;
    --color-texto-menu:rgb(134, 136, 144);
    --color-boton:#000;
    --color-boton-texto:rgb(225, 225, 225);
    --color-menu-hover:rgb(238, 238, 238);
    --color-menu-hover-texto:rgb(0,0,0);
    --color-linea:rgb(180,180,180);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    right:15px;
    top:15px;
    z-index: 100;
}

.menu img {
    width: 30px;
    height: auto;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    color: #000;
    position: fixed;
    transition: width 0.5s ease, left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral span {
    width: 100px;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    white-space: nowrap; /* Evita que el texto se quiebre */
}

.barra-lateral span.oculto {
    opacity: 0;
    width: 0;
    overflow: hidden; /* Oculta el texto */
}

.barra-lateral .logo-pagina {
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.barra-lateral .logo-pagina img {
    min-width: 50px;
    max-width: 50px;
    cursor: pointer;
}

.barra-lateral .logo-pagina span {
    margin-left: 5px;
    font-size: 25px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.boton-cita {
  cursor: pointer; 
  transition: all 0.5s ease; 
}

.boton-cita:hover {
    transform: translateY(-4px);;
}


/* Para que no se vea el texto */
.barra-lateral .boton-cita {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color:#fff;
}

.barra-lateral .boton-cita img {
    width: 15px;
    height: auto;
    min-width: 20px;
    max-width: 50px;
    margin-right: 5px; /* Espacio entre img y span */
}

.barra-lateral .navegacion {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

/* Para personalizar scroll */
.barra-lateral .navegacion::-webkit-scrollbar {
    width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
    border-radius: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.barra-lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
    padding: 0 10px;
}

.barra-lateral .navegacion a:hover {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion img {
    width: 15px;
    height: auto;
    min-width: 20px;
    max-width: 50px;
    margin-right: 10px;
}

.barra-lateral .linea {
    width: 100%;
    height: 1px;
    background-color: var(--color-linea);
}

.barra-lateral .usuario {
    width: 100%;
    display: flex;
}

.barra-lateral .usuario img {
    width: 40px;
    height: 50px;
    min-width: 50px;
    border-radius: 20%;
    margin-top: 10px;
}


.barra-lateral .usuario a {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
}


.barra-lateral .usuario .info-usuario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre {
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .email {
    font-size: 13px;
}

.nombre-email {
    display: flex; 
    flex-direction: column; 
    margin-left: 10px; 
}

main {
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.5s ease;
    background-color: #f9f9f9; 
}

main.min-main {
    margin-left: 80px;
}
/* fin de los estilos del header  */

/* a_administrador.html */

@import "reset.css";




header {
    color: #fff;
    font-size: 20px;
    width: 100%;
}

body {
    font-family: "Abhaya Libre", serif;
}
a{
    text-decoration: none;
    color: #fff;
}




/* Estilos del admin  */

.bajo-header{
    display: flex;
    height: 50px;
   justify-content: space-between;
   align-items: center;
   background-color: #193A6A;
}

.con-botones{
    display: flex;
    justify-content: space-between;
}
.text-pag-b{
    font-size: 15px;
    margin-left: 10px;
    font-size: 13px;
}

.botones{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 80px;
    
}
.salida{
    height: 33px;
    width: 33px;

}
.galeria{
    /* width: 100%; */
    margin-left: 0;
    margin-top: 40px;
    /* background-color: #974040; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.imagen-admin{
    height: 220px;

}
.h3-admi{
    color: #193A6A;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;

}
.h3-modida{
    transform: translate(-10px);

}

/* Estilos de citas agendadas del admin yohan */
.citas-ad{
    margin-left: 0;
}

.main-agen-admin{
    display: flex;
    justify-content: center;
    margin-top: 2%;

}
table{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    width: 75%;
    border-collapse: collapse;/*Fusionar los bordes  */

}
th{
    background-color: #193A6A;
    color: #FFF;
    font-weight: 800;
}
th,td{
    padding: 15px;
    font-size: 10pxs;
}
.gris{
       background-color: #D9D9D9;
}
.ver-mas{
    color: #2C7CBE;
}

/* estilos de la pagina de despligue de citas agendadas */
.main-despligue{
    display:flex;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conten-despligue{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* efecto de sombra  */
    border: 5px;/* un borde alrededor del elemento*/
    width: 60%;/*  ancho del elemento */
    /* height: 640px;altura del elemento  */

}
li{
    list-style-type:none;
}

.Cita-pendiente{
   color: #193A6A;
   font-size: 26px;
   font-weight: 750;
   padding-bottom: 9px;
   border-bottom: 2px solid #ED9B51;
   margin-top: 10px;

}
.pendiente{
    margin-left: 30px;
    font-size: 30px;
}
.conten-lista-desplie{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
 
}
.encabeza{
    font-size: 17px;
    margin-top: 5px;
    font-weight: 550;
    color:#193A6A ;
}
.ul-despliegue{
    width: 50%;
}
.conten-encabeza{
    margin-top: 5px;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #585555;
    background-color: #faf9f9;
    width: 70%;
}
.conten-descripcion{
    /* background-color: #ece3e3; */
    border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #585555;

    margin-top: 40px;

    height: 150px;
    margin-left: 11%;
    margin-bottom: 30px;
    width: 70%;
    
    

}
.h2-descripcion,.descripcion{
    margin-top: 20px;
    margin-left: 50px;
}
.h2-descripcion{
    font-size: 30px;
    color: #193A6A;

    

}
.descripcion{
    width: 60%;
    font-size: 20px;
    margin-top: 10px;
  
}


/* u_info_general.html */

.info-section {
    background-color: #f8f8f8;
    padding: 60px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
}

.section {
    text-align: center;
    margin-bottom: 40px;
}

.section h2 {
    font-size: 28px;
    color: #333;
    margin-top: 50px;
}

.raya {
    width: 120px;
    height: 3px;
    background-color: #ED9B51;
    margin: 0 auto;
    margin-top: 15px;
}

.info-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.info-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}



/* u_registroMascotas.html y  u_registrousuario.html  */

.styles-header {
    display: flex;
    font-size: 15px;
    font-weight: 600;
}

.styles-header, img {
    display: flex;
    width: 250px;
    height: auto; 
}

.text{
  display: flex;
  background-color: #193A6A;
  color: #fff;
  width:100%;
  text-align: center;
  font-size: 26px;
  padding: 7px;

}


.encabezado {
   color: #193A6A;
   font-size: 26px;
   font-weight: 700;
   padding-bottom: 9px;
   border-bottom: 2px solid #ED9B51;
   margin-left: 8px;
}
   

.box {
    border: 1px solid #E6E6E6;
    padding: 30px;
    margin: 20px  auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px;
    width: 60%;
    height: 480px;
}

label {
    color: #193A6A;
    font-weight: 600;
    font-size: 15px;
}

.span {
    color: black;
    font-weight: 500;
}

.form-1{
    margin-left: 5px ;
    margin-top: 15px;
    width: 45%;
}

.form-2 {
    margin-left: 400px;
    margin-top: -274px;
    width: 45%;
}


.form-input_pe {
    display: flex;
    width: 50%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

.seleccion {
    display: flex;
    margin-left: 200px; 
}


.form-input, [type*="radio"] {
    display: flex;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

.boton {
    margin-top: 80px;
    margin-left: 270px;

}

.registrate-1 {
    margin-top: 9px;
    margin-left: 220px;
}

.ancho {
    padding: 7px;
    width: 250px; 
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.link {
    margin-top: 3px;
    text-align: center;
}

button {
    background-color: #193A6A;
    color:#fff;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);/* sombra al boton de continuar */
    background-color: #1F57A9;/* color de fondo cuando lo tocan */
}

.a-1 {
    color: #193A6A; /* color del link */
}

.a-2{
    color: #fff; /* color de la letra  */
    text-decoration: none/* para quitarle la rayita  */
}


/* u_servicios.html */

.servicio-adomicilio {
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.servicio-adomicilio h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.servicio-adomicilio p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  max-width: 600px;
}

.servicio-contenedor {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.servicio-titulo {
  color: #193A6A;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.servicio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  max-width: 300px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.servicio-card img {
  width: 50px;
  margin-bottom: 20px;
}

.servicio-card h2 {
  color: #2C7CBE;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.servicio-card p {
  color: #666;
  margin-bottom: 20px;
  font-size: 17px;
}

.icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.icon-img img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0;
}

.lista ul {
  padding: 0;
  list-style: none;
}

.lista li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.lista li img {
  margin-right: 10px;
  width: 39px;
  height: auto;
}

.lista li a {
  color: #2C7CBE;
  text-decoration: none;
}

.lista li a:hover {
  text-decoration: underline;
}



/* Media queries */

/* a_administrador */

/* Media queries para dispositivos m칩viles */
@media (max-width: 600px) {
    .a-hed {
        width: 30%;
        height: 30%;
    }

    .galeria {
        margin: 90px 45px;
        padding: 50px;
    }

    .galeria article {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .text-pag-b {
        width: 101%;
        font-size: 18px;
    }

    .center {
        margin-left: 20px;
    }

}

/* Media queries para tabletas */


/* Media queries para pantallas de escritorio */
@media (min-width: 901px) and (max-width: 1200px) {
    .a-hed {
        width: 100%;
        height: 100%;
    }

    .galeria {
        display: flex;
    }

    .galeria article {
       margin: 100px;
    }

    .text-pag-b {
        width: 100%;
    }

    .center {
        margin-left: 50px;
    }
   
}

/* u_info_general.html */

@media (max-width: 600px) {

}

@media (min-width: 601px) and (max-width: 1000px) {


    .nav-alto {
    width: 60%;
  }

  .foto-nom {
    width: 20%;
  }

  .lista-menu .item {
    font-size: 16px;
    padding: 10px;
  }

  .despliegue {
    width: 200px;
    height: 75px;
  }

  .desplegados {
    font-size: 17px;
    height: 37px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {

}

/* u_servicios.html */

/* Media queries para dispositivos m칩viles */
@media (max-width: 600px) {
   
    .logo {
        width: 30%;
    }
.nav-alto{
        justify-content: end;
        align-items: center;
        
    }
   .menu-icono{
    /* background-color: #2b69c5; */
    position: absolute;
        display: block;
    }
    .iconos{
        width: 40px;
    }
    .lista-menu{
        display: none;
    }
    details{
        display: none;
    }

    .lista-menu.active {
        display: block;
        margin-top: 82%;
        background-color: #193A6A;
        width: 200px;
        border-radius: 5px;
        z-index: 1;
    
    }
    .servicio-card {
      width: 90%;
      margin: 30px 10px;
    }

    .servicio-adomicilio {
        width: 90%;
       margin: 30px 20px;
    }
  }
  
  /* Media queries para tabletas */
  @media (min-width: 601px) and (max-width: 1000px) {
    .servicio-card {
      width: 70%;
    }

    .servicio-adomicilio {
        width: 90%;
      margin: 30px 40px;
    }

  }
  
  /* Media queries para pantallas de escritorio */
  @media (min-width: 1001px) and (max-width: 1200px) {
    .servicio-card {
      width: 40%;
    }

    .servicio-adomicilio {
        width: 60%; 
    }
  }

  /* media queries del header */

  @media (max-height: 600px) {
    .barra-lateral .logo-pagina {
        margin-bottom: 5px;
    }
}

@media (max-width: 600px) {
    .barra-lateral {
        position: fixed;
        left: -250px;
    }

    .max-barra-lateral {
        left: 0;
    }

    .menu {
        display: flex;
    }

    main {
        margin-left: 0;
        padding: 20px; /* Ajuste del padding para pantallas peque침as */
    }

    main.min-main {
        margin-left: 0;
    }

    .servicio-contenedor {
        margin-left: 0; /* Ajuste del margen para pantallas peque침as */
    }
}