
/* HECHO POR TIARA */


/* a_administrador.html */

@import "reset.css";


    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abhaya Libre", serif;
}


header {
    color: #fff;
    font-size: 20px;
    width: 100%;
}

body {
    font-family: "Abhaya Libre", serif;
}




/* estilos del header trabajado por yohan ------------------------------------------------------------------------------- */
a{
    text-decoration: none;
    color: #fff;
}
.header-alto{
    width: 100%;

}
.conten-header{
    height: 50px;
    background-color: #193A6A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-alto{
    width: 45%;
}

.foto-nom{
    display: flex;
    align-items: center;
    width: 15%;
    font-size: 18px;
    justify-content: space-evenly;

}
.foto-nom img{
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

summary{
    color: #fff;
    width: 200px;
}

.lista-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu .item{
    font-size: 17px;
    padding: 12px;
}
 .item:hover{
      background-color:  #2b69c5;
    height: 50px; 
}
.desplegados:hover{
    background-color:  #2b69c5;

}
.nombre:hover{
    color: #ED9B51;
}

.despliegue{
    border-radius: 5px ;
    margin-top: 15px;
    width: 210px;
    height: 80px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #193A6A;
    
}
.desplegados {
   
    font-size: 18px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
 
}
.desplegados a{
       margin-left: 10px;

}
















.a-hed  {
    width: 150px; /* Tamaño del logo */
    height: auto;
}



.text-pag-b {
    display: flex;
    
    background-color: #102544;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.text-pag-a {
    display: flex;
    color: #fff;
    /* margin-top: -30px; */
    font-size: 18px;
    justify-content: flex-end;
    width: 100%;
}



.alto-admi .botones {
    display: flex;
    justify-content: end;
    width: 99%;
    margin-top: -5rem;
}

.icons {
    display: flex;
    width: 40px;
    height: 37px;
}

.tamano-uno, .tamano-dos {
    
    width: 100%;
    height: 100%;
}


.icons img {
    width: 35px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.icons img:hover {
    transform: scale(1.2);
}

.galeria {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias líneas */
    margin-top: 100px;
    
}



.galeria article {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px; /* Agregar margen inferior para evitar superposición */
}

.galeria article img {
    width: 200px;
    height: auto;
    transition: all 0.5s ease;
}

.galeria article img:hover {
    transform: scale(1.1);
}

.pie {
    text-align: center;
    color: #102544;
    font-size: 18px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    /* text-align: center; */
}




/* u_info_general.html */

.hed-i .logo {
    width: 250px; /* tamaño del logo */
    height: auto;
}
  
.hed-i h1 {
    background-color: #193A6A;
    padding: 10px;
    font-size: 27px;
    color: white; /* Agrega color de texto blanco para el título */
}

.navegacion {
  display: flex;
  justify-content: end;
    margin-top: -45px;
}

.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;   
}

.navegacion .item {
    float: left;
    position: relative;
}

.navegacion .item a {
    color: #fff;
    padding: 15px 25px; /* Más padding para los enlaces principales */
    display: block;
    font-size: 18px;
    text-decoration: none;
    
}



 


.center {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    /* justify-content: center; */
    
}
  
.center hr {
 border-top: 2px solid #ED9B51;
margin: 9px 0 20px 537px;
width: 70px;
    
}
  
  
.center h2 {
    text-align: center;
    padding: 10px;
    color: #193A6A;
    font-size: 22px;
    font-weight: 700;
}
  
.center p {
    text-align: justify;
    margin: 0 10%;
    max-width: 1200px;
    padding: 20px;
}
  




/* u_registroMascotas.html y  u_registrousuario.html  */

.styles-header {
    font-size: 15px;
    font-weight: 600;
}

.styles-header, img {
    width: 250px;
    height: auto; 
}

.text{
 background-color: #193A6A;
 color: #fff;
 width: 1366px;
 height: auto;
 text-align: center;
 font-size: 26px;
 padding: 7px;

}


.encabezado {
   color: #193A6A;
   font-size: 26px;
   font-weight: 700;
   padding-bottom: 9px;
   border-bottom: 2px solid #ED9B51;
   margin-left: 8px;
}
   

.box {
    border: 1px solid #E6E6E6;
    padding: 30px;
    margin: 20px  auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px;
    width: 60%;
    height: 480px;
}

label {
    color: #193A6A;
    font-weight: 600;
    font-size: 15px;
}

.span {
    color: black;
    font-weight: 500;
}

.form-1{
    margin-left: 5px ;
    margin-top: 15px;
    width: 45%;
}

.form-2 {
    margin-left: 400px;
    margin-top: -274px;
    width: 45%;
}


.form-input_pe {
    display: flex;
    width: 50%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

.seleccion {
    display: flex;
    margin-left: 200px; 
}


.form-input, [type*="radio"] {
    display: flex;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

.boton {
    margin-top: 80px;
    margin-left: 270px;

}

.registrate-1 {
    margin-top: 9px;
    margin-left: 220px;
}

.ancho {
    padding: 7px;
    width: 250px; /* el ancho del boton */
    border-radius: 20px;/* para redondear un poco el boton */
    border: none;/* para quitarle el bordde */
    font-size: 15px;
}

.link {
    margin-top: 3px;/* margen superior */
    text-align: center;/* texto en el medio */
}

button {
    background-color: #193A6A;/* color del boton  */
    color:#fff;/* color de letra del boton */
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-5px);/* para mover el elemento 5 píxeles hacia arriba a lo largo del eje Y.  */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);/* sombra al boton de continuar */
    background-color: #1F57A9;/* color de fondo cuando lo tocan */
}

.a-1 {
    color: #193A6A; /* color del link */
}

.a-2{
    color: #fff; /* color de la letra  */
    text-decoration: none/* para quitarle la rayita  */
}


/* u_servicios.html */

.hed-s  .logo {
    width: 250px;/* tamano del logo  */
    height: auto;
}

.hed-s h1 {
    background-color: #193A6A;
    padding: 10px;
    font-size: 23px;
   
}

.menu  {
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;

}

.menu ul {
    display: flex;
    justify-content: space-around;
    margin-top: -85px;
    margin-left: 1000px;
}

.menu li {
    display: flex;
    margin: 10px;
}

.links{
    color:#fff;
    font-size: 30px;
}

.menu a:link{
    text-decoration: none;
}


.menu a{
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
}
.menu a:hover{
    color: #2b69c5;
}

.border {
    border: 1px solid #fff;
    margin: 60px;
    background-color: #193A6A;
    height: 500px;
}

.move {
   margin-left: 600px;
   margin-top: -411px;
}

.move-dos {
    margin-top: 40px;
    margin-left: 60px;
}
.move-dos h3 {
    color: #193A6A
}

.color {
   background-color:#fff;
   width: 470px;
   height: 180px;
   border-radius: 15px;
  
}

.photo img {
    background-color: #fff;
}

.photo article {
    padding: 12px;
    
} 


.photo-ancho img {
    width: 150px;
    margin-left: 20px;
}


.photo-ancho-dos img {
    width: 100px;
    margin-left: 20px;
}

.photo-ancho-tres img {
    width: 110px;
    margin-left: 20px;
}

.title {
   margin-bottom: 10px; /*para que el h3 este sepado del p */
   margin-left: 130px;
   margin-top: -50px;
   color: #193A6A;
   font-size: 20px;
  
}


.clave {
  margin-bottom: -25px; 
  padding: 0 50px; 
  width: 80%; 
  margin-left: 80px;
  margin-right: auto;
  text-align: justify;
}

.letra {
  font-size: 16px;
}


/* Media queries */

/* a_administrador */

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .a-hed {
        width: 30%;
        height: 30%;
    }

    .galeria {
        margin: 90px 45px;
        padding: 50px;
    }

    .galeria article {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .text-pag-b {
        width: 101%;
        font-size: 18px;
    }

    .alto-admi .botones {
        margin-top: -115px;
    }

    .center {
        margin-left: 20px;
    }

}

/* Media queries para tabletas */
@media (min-width: 601px) and (max-width: 1000px) {
    .a-hed {
        width: 30%;
        height: 30%;
    }

    .galeria {
        display: flex;
    }

    .galeria article {
       margin: 37px;
    }

    .text-pag-a {
        margin-left: 20px;
        width: 101%;
    }

    .center {
        margin-left: 50px;
    }
    
}

/* Media queries para pantallas de escritorio */
@media (min-width: 901px) and (max-width: 1200px) {
    .a-hed {
        width: 100%;
        height: 100%;
    }

    .galeria {
        display: flex;
    }

    .galeria article {
       margin: 100px;
    }

    .text-pag-b {
        width: 100%;
    }

    .center {
        margin-left: 50px;
    }
   
}




