
/* HECHO POR TIARA */


@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

/* a_administrador.html */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

header {
    color: #fff;
    font-size: 16px;
}


 .a-hed {
    width: 250px;/* tamano del logo  */
    height: auto; 
} 

.text-pag-b {
    background-color: #102544;
    padding: 6px;
    
}


.text-pag-a {
    color: #fff;
    margin-top: -35px;
    margin-left: 1150px;
}  

.botones {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 10px;
  margin-left: 1260px;
  margin-top: -80px;
}

.icons {
    width: 40px;
    height: 37px;
}

.tamano-uno {
    width: 100%;
    height: 100%;
}

.tamano-dos {
    width: 100%;
    height: 100%;
}

.icons img {
    width: 35px;
    margin: 0 10px;
    transition: all 0.3s ease;
}


.icons img:hover {
    transform: scale(1.2);
}


.galeria {
    display: flex;
    justify-content: center; 
    margin: 90px 0;
    padding: 30px;
}

.galeria article {
    display: inline-block;
    margin-right: 50px;
    
}

.galeria article img {
    width: 250px; 
    height: auto; 
   
}

.galeria article img:hover {
    transform: scale(1.1);
}

.pie {
    text-align: center;
    color: #102544;
}


/* a_gestionSesion */



/* u_registroMascotas.html y  u_registrousuario.html  */

.r-hed {

    font-size: 15px;/* el tamano de letra */
    font-weight: 600;/* el grosor de la letra */
}

.r-hed, img {
    width: 250px;/* tamano del logo  */
    height: auto;/* alto de logo */ 
}

.text{
 background-color: #193A6A;/* fondo del header */
 color: #fff;/* color de la letra */
 width: 1366px;/*ancho de la letra para que el background llegue hasta el final de la pagina  */
 height: auto;/* alto automatico */
 text-align: center;/* para poner la letra en el medio  */

}


.encabezado {
   color: #193A6A;/* color de el tituolo de el formulario */
   font-size: 26px;/* tamano de la letra  */
   font-weight: 700;/* ancho de la letra para que el background llegue hasta el final de la pagina */
   padding-bottom: 9px;/* agrega algo de espacio a la izquierda del elemento */
   border-bottom: 2px solid #ED9B51;/* borde inferior al elemento */
   margin-left: 8px;/* agrega algo de espacio a la izquierda del element */
   /* margin-left: 8px; */
}

.box {
    border: 1px solid #E6E6E6;/*  borde del elemento para que tenga 1 píxel de ancho, sea sólido (sin puntos ni rayas) y de color blanco. */
    padding: 30px;/* cantidad de espacio del elmento  */
    margin: 20px  auto;/* maren del elemento 20px arriba y abajo y auto a la izquierda y derecha */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* efecto de sombra  */
    border: 5px;/* un borde alrededor del elemento*/
    width: 60%;/*  ancho del elemento */
    height: 480px;/*altura del elemento  */
}

label {
    color: #193A6A;/* color de la letra  */
    font-weight: 600;/* grosor de la letra  */
    font-size: 15px;/* tamano de la letra */
}

.span {
    color: black;/* para ponerle color a Acepto los términos y condiciones de seguridad */
    font-weight: lighter;/* fuente de la leta  */
}

.form-1{
    margin-left: 5px ;/* margen izquierdo */
    margin-top: 15px;/* margen superior */
    width: 45%;/* ancho de los inputs */
}

.form-2 {
    margin-left: 400px;/* para mover a la izquierda */
    margin-top: -284px;/* para mover arriba */
    width: 45%;/* ancho de los inputs */
   
}


.form-input {
    display: flex;/* para que sea flexible */
    width: 100%;/* el ancho que quiero que tenga, en este caso use el porciento porque era mas efeciente */
    padding: 8px;/* el tamano de los input */
}

.boton {
    margin-top: 80px;/* margen superior */
    margin-left: 270px;/* margen izquierdo  */

}

.registrate-1 {
    margin-top: 9px;/* margen superios  */
    margin-left: 220px;/* margen izquierdo */
}

.ancho {
    padding: 8px;/* cantidad de espacio del elmento  */
    width: 250px; /* el ancho del boton */
    border-radius: 20px;/* para redondear un poco el boton */
    border: none;/* para quitarle el bordde */
}

.link {
    margin-top: 3px;/* margen superior */
    text-align: center;/* texto en el medio */
}

button {
    background-color: #193A6A;/* color del boton  */
    color:#fff;/* color de letra del boton */
}

button:hover {
    transform: translateY(-5px);/* para mover el elemento 5 píxeles hacia arriba a lo largo del eje Y.  */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);/* sombra al boton de continuar */
    background-color: #1F57A9;/* color de fondo cuando lo tocan */
}

a {
    color: #193A6A; /* color del link */
}

.a-2{
    color: #fff; /* color de la letra  */
    text-decoration: none/* para quitarle la rayita  */
}

