/* Tiara */
 
 
*{
    box-sizing: border-box; /*para que el tamano este estable */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

 .header {
    margin: 0;
    padding: 0;
   padding-right: 2px;  /*  relleno derecho al elemento */ 
    
 }

.logo img {
    width: 180px;
    height: auto;
    position: relative;
}

 .info {
   position: relative;
   top: 25px ;
   text-align: justify;
   color: #fff;
}

.usuario{
     border-radius: 50%;
    object-fit: cover;
    margin-top: 3px;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    margin-bottom: 15px;
    margin-right: 40px;
    text-decoration: none;
    position: relative;
    top: 10px;
    margin-left: 10px;
}




.menu {
    display: flex;
    background-color: #193A6A;
    margin: 0;
    width: 1367px;
    justify-content: flex-end;
    list-style-type: none;
  
    
}

.menu li {
    margin-left: 30px;
    text-align: center;
   
    text-decoration: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
 }

.main-content {
    margin: 50px;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column; 
} 



.encabezado {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #193A6A;
 
}

.parrafo {
  text-align: justify;
  margin-bottom: 1rem;
  
}

/* Aun no esta terminado */