
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HECHO POR LAURA */

.header {
    display: flex; /*para que el contenedor se ponga  flexible */
    justify-content: space-between;  /*  para separar los menus y colacarlas a la izquierda en linas */
    align-items: center; /* centrar los menus */
    font-size: 17px; /* Tamaño de letra */ 
}


.header .logo{
    margin-left: 20px;/* Despegar un pocp */
    padding-top: 30px; /* Espacio de arriba */
    cursor: pointer; /*Presenta la manita cuando estes en el logo */
}


.header .menu {
    list-style: none;  /* Quitarle los puntos negros de la lista */
    padding-right: 20px; /* Espacio para la derecha, despegarl */
    /* padding-top: 5px;  */  /* Espacio hacia arriba */
}


.header .menu li {
    display: inline; /* Poner los menus en lineas */
    padding: 10px; /* Espacios entre los menus */
}


.header .menu li a:hover {
    color: rgb(70, 113, 160); /* Darle efecto a los menus con color */
}


.header .menu a {
    color: #19396a; /* Color azul para los menus */
    font-weight: bold; /* Las letras en negritas */
    text-decoration: none; /* Quitarle la rayita de abajo de los enlaces */
}


.header .perfil {
    border-radius: 50%; /* la img se ponga de forma cirular*/
    object-fit: cover; /* Para que la img quede ajustada al circulo */
    margin-left: 10px; /* Despegar un poco de los menus */
    
}


h2{
   text-align: center;  /* Centrar el texto (Los mejores amigo de tu mejor amigo) */
   font-size: 40px; /* Tamaño de las letras */
   color: #193A6A; /* Color de las letras */
}


.panel{
    display: flex; /*mover las img en el centro */
    justify-content: space-evenly; /* colocarlas en lineas y con espacios  */
    padding-top: 80px; /* Espacio hacia arriba */
    margin-bottom: 100px; /* Espacio hacia abajo */
    /* flex-wrap: wrap; */
}


.imagen-panel img {
    object-fit: cover; /* Para que la img se adapte a su posicion normal */
    /* display: block; */  /* se pongan en filas cuando esten mas pequenas */
   
}


.SegundaParte{
    padding: 4px 5%; /* Ajuntando de los lados */
    padding-top: 55px;  /* Espacio hacia arriba */
}


.imagen-panel{
    text-align: center; /* Los parrafos se centren con las img */
    font-size: 23px; /* Tamaño de las letras */
    color: #193A6A;  /* Color de las letras */
    font-weight: bold; /* Poner las letras en negrita */
    box-shadow: 3px 3px 3px 3px #19396a; /* Efecto de sobra de fondo con color azul */
    padding-top: 20px;  /* Espacio hacia arriba para la sombra */
    padding-bottom: 15px;  /* Espacio de abajo para la sombra */
}


section, footer{
    padding-top: 350px; /* Tamaño de la img de fondo */
    background: url(../imagenes/estetocopio1.jpg);/* img de fondo */
    background-size: cover; /* Para que la img se adapte a su posicion normal */ 
    background-attachment: fixed;  /* esto es para mantener fijo el efecto defondo, que es la img para desplazarla. */
    position: relative; /* permiten desplazar la img desde su posición original sin afectar el diseño de los demas elementos en la página. */
}

footer {
    height: 400px;  /* espacio de arriba */
    padding: 30px 30px; /* relleno de los lados */
}


.box-icons{
    padding-top: 180px; /* Espacio de arriba */
    display: flex; /*poder mover los iconos y letras al centro */
    justify-content: space-evenly;/* colocarlas en lineas y con espacios  */
    padding-bottom: 40px;/* Espacio hacia abajo */
}

.content{
    text-align: center; /* poner los iconos centrados */
}

.content h4{
    color: #19396a;  /* letras azules */
    padding-top: 9px;  /* Espacio hacia arriba */ 
}

.bx {
    font-size: 40px;/* Tamaño de los iconos */
}

